:root {
    --white: #FFFFFF;
    --grey: #F8F8F8;
    --black: #000000;
    --orange: #FFCC47;

    --quicksand: 'Quicksand';
    --opensans: 'Open Sans';

    --font-light: 300;
    --font-regular: 400;
    --font-bold: 700;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before, *::after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}
.wrapper {
    max-width: 100%;
}

.flower {
    width: 100px;
}

.bars {
    display: none;
    width: 50px;
}

.title {
    width: 100%;
    text-align: center;
    font-family: var(--quicksand);
    font-weight: var(--font-bold);
    font-size: 48px;
    padding-bottom: 15px;
    color: var(--orange);
}

.btn {
    width: 550px;
    height: 80px;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    /* border: 11px solid var(--white); */
    border: none;
    color: var(--white);
    font-size: 26px;
    font-family: var(--quicksand);
    font-weight: var(--font-bold);
    transition: filter 0.3s;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.btn:focus {
    outline: none;
}
/* nawigacja */

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 30px 0;
    background-color: var(--white);
    z-index: 111;
}

.logo, .logo a {
    font-family: var(--quicksand);
    font-weight: var(--font-regular);
    color: var(--orange);
    font-size: 36px;
    text-decoration: none;
}

.logo span {
    font-weight: var(--font-bold);
}

.nav {   
    display: flex;
}

.nav__item {
    list-style: none;
    margin-left: 25px;
}

.nav__item:nth-last-of-type(1) {
    margin-left: 60px;
    
}

.nav__link {
    text-decoration: none;    
    font-family: var(--opensans);
    font-weight: var(--font-regular);
    color: var(--black);
    transition: color 0.3s;
}

.nav__link:hover {
    color: var(--orange);
}
.nav__link--orange {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--orange);
}

.nav__link--orange img {
    margin-right: 10px;
}

/* nagłówek hero */

.hero {
    position: relative;
    background-image: url("../assets/images/hero.png");
    height: 60vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-image: url("../assets/images/hero2.png");
    background-position: center center;
    background-size: cover;
}

.hero__title, .hero__subtitle {
    color: var(--white);
    z-index: 2;
    font-family: var(--quicksand);
    font-weight: var(--font-bold);
    font-size: 70px;
    width: 100%;
    text-align: center;
}

.hero__subtitle {
    font-weight: var(--font-light);
}

.hero .flower, .description .flower, .features__wrapper .flower {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 99;
}

/* opis stokrotki */

.description {
    position: relative;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.description__p, .rooms__p, .food__p {
    text-align: center;
    max-width: 70%; 
    padding: 20px;
    font-size: 16px;
    font-family: var(--opensans);
    font-weight: var(--font-light);
}

/* pokoje */

.rooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;

}

.rooms__images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.room {
    max-width: 25%;
    margin: 50px;
    position: relative;    
}

.room__img {
    width: 100%;
}

.flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    font-family: var(--opensans);
    opacity: 0;
    transition: opacity 1s;
    background-color: var(--orange);
    color: var(--white);
}

.flip-box-back span {
    font-size: 18px;
    font-weight: var(--font-bold);
    margin-bottom: 5px;
}

.flip-box-back p {
    margin-bottom: 40px;
}

.flip-box-back .flower {
    margin-bottom: 20px;
}

.room:hover .flip-box-back {
    
    opacity: 1;
}
/* atrakcje */

.features__wrapper {
    position: relative;
    width: 100%;
    background-color: var(--grey);
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.features__img, .features__activities {
    height: 100vh;
    width: 50%;

}
.features__img {
    background-image: url("../assets/images/atrakcje.png");
    background-position: center center;
    background-size: cover;
}

.features__activities {
    padding: 30px 0 30px 100px;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.activity {    
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.features__title {
    width: 100%;
    text-align: center;
}

.activity__desc {
    font-family: var(--opensans);
    font-weight: var(--font-regular);
}

.activity__desc span {
    display: block;
    width: 100%;
}

.activity__img {
    width:60px;
    margin-right: 30px;
}

.feature__btn {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.features__wrapper .flower {
    bottom: 50%;
}

/* rezerwacja */

.reservation-wrapper {
    display: flex;
    padding: 100px 0;
}

.reservation__check {
    width: 50%;
    
}

.reservation__check form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reservation__check input {
    width: 550px;
    height: 80px;
    border: 1px solid var(--orange);
    margin-bottom: 10px;
    text-align: center;
}

.reservation {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reservation__p {
    text-align: center;
    max-width: 70%; 
    padding: 20px;
    font-size: 16px;
    font-family: var(--opensans);
    font-weight: var(--font-light);
}

/* jedzenie */

.food {
    position: relative;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.food div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.food__img {
    background-image: url('../assets/images/jedzenie.png');
    height: 40vh;
    width: 100%;
    background-repeat: no-repeat;
  	background-attachment: fixed;
    background-position: 100% auto;
    background-size: cover;
}

.food__p {
    max-width: 50%;
}

.food .flower {
    position: absolute;
}

.neighborhood {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.neighborhood__title {
    text-align: center;
    padding: 80px;
}

.neighborhood__images {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
}

.neighborhood__images img {
    max-width: 30%;
}

.neighborhood__btn {
    margin: 50px 0;
}

/* stopka */

.footer {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 50px;
}

.map {
    background-image: url('../assets/images/mapa.png');
    background-position: center center;
    background-size: cover;
    width: 50%;
    height: 60vh;
}
.contact {
    width: 50%;
    height: 60vh;
    background-color: var(--orange);
    color: white;
    padding: 50px 100px;
}

.footer__title {
    color: white;
}

.address {
    font-family: var(--opensans);
    font-weight: var(--font-light);
    margin-top: 90px;
}

.address span {
    display: block;
    padding: 5px;
}

.address div {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.address a {
    color: white;
    text-decoration: none;
    font-weight: var(--font-bold);
    padding: 0 5px;
}

.address .mail {
    font-weight: var(--font-light);
}

.footer .flower {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.footer__title {
    text-align: left;
}

/* createdby */

.createdby {
    background-color: var(--orange);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: var(--opensans);
    font-weight: var(--font-light);
    font-size: 14px;
}

.createdby a {
    text-decoration: none;
    color: var(--white);
}



/* max-width: 1600px */

@media (max-width: 1600px) { 

    .room .flower {
        display: none;
    }

    .activity {            
        padding: 0 20px;
        font-size: 14px;
    }

    .activity__desc span {
        width: 100%;
    }

    .activity__img {
        width: 40px;
    }
    .feature__btn {
        bottom: 10px;
    }

    .food div, .food__img {
        height: 50vh;
    }
}


@media (max-width: 1200px) { 
    .navigation {
        padding: 30px;
        /* justify-content: space-between; */
    }
    
    .flip-box-back {
        position: static;
        opacity: 1;
    }

    .navigation--active {
        flex-direction: column;         
    }

    .bars {
        display: block;
        cursor: pointer;
        align-self: flex-end;
    }
    .nav {
        display: none;
    }
    
    .nav--active{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .nav__item:nth-last-of-type(1) {
        margin-left: 25px;    
    }

    .reservation-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reservation {
        margin-top: 100px;
    }
}

@media (max-width: 1000px) {
    .contact {
        padding: 60px;
    }

    .address {
        margin-top: 30px;
    }
}

@media (max-width: 800px) {
    .flower {
        display: none;
    }
    .features {
        display: flex;
        flex-direction: column;
    }

    .features__activities {
        padding-top: 0;
    }

    .activities {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 150px;
    }

    .features__img, .features__activities {
        width: 100%;
    }

    .room {
        max-width: 40%;
    }
    .neighborhood__images img {
        max-width: 90%;
        margin-bottom: 20px;
    }
}

@media (max-width: 700px) {
    .hero__title, .hero__subtitle {
        font-size: 50px;
    }
    .room {
        max-width: 90%;
    }
    
    .activities {
        padding-left: 0;
    }

    .reservation {
        width: 100%;
    }

    .food__p, .reservation__p {
        max-width: 100%;
        width: 100%;
    }

    .footer {
        flex-direction: column;
    }

    .contact, .map {
        width: 100%;
    }

    .btn, .reservation__check input {
        width: 400px;
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .hero__title, .hero__subtitle {
        font-size: 36px;
        margin-top: 30px;
    }

}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: cadetblue;
    z-index: 999;
    padding: 80px;
    font-family: var(--opensans);
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    display: none;
}

.modal--show {
    display: flex;
}

.modal p {
    width: 100%;
}

.accept, .x {
    border: none;
    background-color: var(--orange);
    padding: 20px 40px;
    color: white;
    width: auto;
    height: auto;
    font-size: 24px;
    margin-top: 50px;
}
